<template>
  <div
    v-bind:style="{
      backgroundColor:
        tile.neighbouringBombs === 0 && tile.isRevealed ? '#e3ebf7' : null
    }"
  >
    <span v-if="isGameOver && tile.isBomb">💣</span>
    <span v-if="tile.isRevealed && tile.neighbouringBombs > 0">
      {{ tile.neighbouringBombs }}
    </span>
  </div>
</template>

<script>
export default {
  name: "Square",
  props: ["tile", "isGameOver"]
};
</script>

<style scoped>
div {
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  border: 0.1rem solid black;
  display: inline-block;
  box-sizing: border-box;
}
</style>
