<template>
  <div id="app">
    <h1 v-if="isGameOver">Game over</h1>
    <h1 v-if="isVictory">You won</h1>
    <h1 v-if="!isVictory && !isGameOver">In progress</h1>
    <div class="board" v-bind:style="boardStyle">
      <div v-for="(row, rowIndex) in tiles" v-bind:key="`row-${rowIndex}`">
        <Square
          v-bind:isGameOver="isGameOver"
          v-for="(col, colIndex) in row"
          v-bind:tile="col"
          v-bind:key="`col-${colIndex}`"
          v-on:click.native="handleSquareClick(rowIndex, colIndex)"
        />
      </div>
    </div>
    <a href="https://gitlab.com/Margatroid/vuesweeper">Source</a>
  </div>
</template>

<script>
import Square from "./components/Square.vue";

const boardSize = 10;
const boardStyle = {
  maxHeight: `${3 * boardSize}rem`,
  maxWidth: `${3 * boardSize}rem`
};

const generateTiles = () => {
  const tiles = Array.from(Array(boardSize)).map(() =>
    Array.from(Array(boardSize)).map(() => ({
      isBomb: Math.random() < 0.15,
      isRevealed: false
    }))
  );

  // Count neighbouring bombs
  for (let rowIndex = 0; rowIndex < boardSize; rowIndex++) {
    for (let colIndex = 0; colIndex < boardSize; colIndex++) {
      const tile = tiles[rowIndex][colIndex];
      tile.neighbouringBombs = 0;
      for (let r = rowIndex - 1; r < rowIndex + 2; r++) {
        for (let c = colIndex - 1; c < colIndex + 2; c++) {
          if (!tile.isBomb && tiles[r] && tiles[r][c] && tiles[r][c].isBomb) {
            tile.neighbouringBombs += 1;
          }
        }
      }
    }
  }

  return tiles;
};

const revealTiles = (tiles, row, col) => {
  const tile = tiles[row][col];
  tile.isRevealed = true;

  for (let r = row - 1; r < row + 2; r++) {
    for (let c = col - 1; c < col + 2; c++) {
      if (
        tile.neighbouringBombs === 0 &&
        tiles[r] &&
        tiles[r][c] &&
        !tiles[r][c].isRevealed
      ) {
        tiles[r][c].isRevealed = true;
        if (tiles[r][c].neighbouringBombs === 0) {
          revealTiles(tiles, r, c);
        }
      }
    }
  }
};

const checkVictory = tiles => {
  let bombCount = 0;
  let revealedTilesCount = 0;
  tiles.forEach(row => {
    row.forEach(tile => {
      if (tile.isRevealed) revealedTilesCount += 1;
      if (tile.isBomb) bombCount += 1;
    });
  });

  return revealedTilesCount === boardSize * boardSize - bombCount;
};

export default {
  name: "app",
  components: {
    Square
  },
  data: function() {
    return {
      tiles: generateTiles(),
      boardStyle,
      isGameOver: false,
      isVictory: false
    };
  },
  methods: {
    handleSquareClick: function(row, col) {
      if (this.isGameOver || this.isVictory) return;
      revealTiles(this.tiles, row, col);
      const tile = this.tiles[row][col];
      if (tile.isBomb) {
        this.isGameOver = true;
      }
      if (checkVictory(this.tiles)) {
        this.isVictory = true;
      }
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 5rem;
  font-size: 1.8em;
}

.board {
  max-width: 30rem;
  max-height: 30rem;
  border: 0.1rem solid black;
  margin: 4rem auto;
}
</style>
